//Colors
$background: #fefefe;
$text: #4b507a;

$cyan: #60daaa;
$yellow: #fbca67;
$orange: #ff8a30;
$red: #f45e61;
$purple: #6477b9;
$blue: #0eb7da;
.parent {
  color: white;
  position: relative;
  background-color: #0074d9;
}

.element {
  background-color: rgba(0,0,0,.3);
  padding: 20px;
  color: rgba(255,255,255,.4);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

body, html {
  height: max-height;
}

table {
        border-style: ridge;
        border-width: 150px;;
        border-color: #8ebf42;
        background-color: #d9d9d9;
      }
      th {
        padding: 10px;
        border-bottom: 2px solid #ababab;
        text-align: center;
      }
      td {
        padding: 10px;
        border-bottom: 2px solid #8ebf42;
        text-align: center;
      }
body { 
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
  background-color: #ABA9AB;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/river.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1, h2, strong {
  color: #333;
}
